# Chicago Crime Analysis
#### Schema Tables
- Chicago Socioeconomic 
- Chicago Public Schools
- Chicago Crime Data

### Socioeconomic Indicators in Chicago
- This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” by Chicago community area, for the years 2008 – 2012. The indicators are the percent of occupied housing units with more than one person per room (i.e., crowded housing); the percent of households living below the federal poverty level; the percent of persons in the labor force over the age of 16 years that are unemployed; the percent of persons over the age of 25 years without a high school diploma; the percent of the population under 18 or over 64 years of age (i.e., dependency); and per capita income. Indicators for Chicago as a whole are provided in the final row of the table

### Chicago Public Schools¶
- SAFETY SCORE: Student Perception
-Safety score from 5 Essentials survey 
- FAMILY INVOLVEMENT ICON: Involved Families category from 5 Essentials survey 
- FAMILY INVOLVEMENT SCORE: Involved Families score from 5 Essentials survey 
- ENVIRONMENT ICON: Supportive Environment category from 5 Essentials survey 
- ENVIRONMENT SCORE: Supportive Environment score from 5 Essentials survey 
- INSTRUCTION ICON: Ambitious Instruction category from 5 Essentials survey 
- INSTRUCTION SCORE: Ambitious Instruction score from 5 Essentials survey 
- LEADERS ICON: Effective Leaders category from 5 Essentials survey 
- LEADERS SCORE: Effective Leaders score from 5 Essentials survey 
- TEACHERS ICON: Collaborative Teachers category from 5 Essentials survey 
- TEACHERS SCORE: Collaborative Teachers score from 5 Essentials survey 
- PARENT ENGAGEMENT ICON: Parent Perception
-Engagement category from parent survey 
- PARENT ENGAGEMENT SCORE: Parent Perception
-Engagement score from parent survey 
- AVERAGE STUDENT ATTENDANCE: Average daily student attendance 
- RATE OF MISCONDUCTS (PER 100 STUDENTS): # of misconducts per 100 students
-AVERAGE TEACHER ATTENDANCE: Average daily teacher attendance 
- INDIVIDUALIZED EDUCATION PROGRAM COMPLIANCE RATE: % of IEPs and 504 plans completed by due date 
- PK-2 LITERACY: % of students at benchmark on DIBELS or IDEL 
- PK-2 MATH: % of students at benchmark on mClass 
- GR3-5 GRADE LEVEL MATH: % of students at grade level, math, grades 3-5 
- GR3-5 GRADE LEVEL READ: % of students at grade level, reading, grades 3-5 
- GR3-5 KEEP PACE READ: % of students meeting growth targets, reading, grades 3-5 
- GR3-5 KEEP PACE MATH: % of students meeting growth targets, math, grades 3-5 
- GR6-8 GRADE LEVEL MATH: % of students at grade level, math, grades 6-8 
- GR6-8 GRADE LEVEL READ: % of students at grade level, reading, grades 6-8 
- GR6-8 KEEP PACE MATH: % of students meeting growth targets, math, grades 6-8 
- GR6-8 KEEP PACE READ: % of students meeting growth targets, reading, grades 6-8 
- GR-8 EXPLORE MATH: % of students at college readiness benchmark, math 
- GR-8 EXPLORE READ: % of students at college readiness benchmark, reading 
- ISAT EXCEEDING MATH: % of students exceeding on ISAT, math 
- ISAT EXCEEDING READ: % of students exceeding on ISAT, reading 
- ISAT VALUE ADD MATH: ISAT value-add value, math 
- ISAT VALUE ADD READ: ISAT value-add value, reading 
- ISAT VALUE ADD COLOR MATH: ISAT value-add color, math 
- ISAT VALUE ADD COLOR READ: ISAT value-add color, reading 
- STUDENTS TAKING ALGEBRA: % of students taking algebra 
- STUDENTS PASSING ALGEBRA: % of students passing algebra 
- 9TH GRADE EXPLORE (2009): Average EXPLORE score, 9th graders who tested in fall 2009 
- 9TH GRADE EXPLORE (2010): Average EXPLORE score, 9th graders who tested in fall 2010 
- 10TH GRADE PLAN (2009): Average PLAN score, 10th graders who tested in fall 2009 
- 10TH GRADE PLAN (2010): Average PLAN score, 10th graders who tested in fall 2010 
- NET CHANGE EXPLORE AND PLAN: Difference between Grade 9 Explore (2009) and Grade 10 Plan (2010) 
- 11TH GRADE AVERAGE ACT (2011): Average ACT score, 11th graders who tested in fall 2011 
- NET CHANGE PLAN AND ACT: Difference between Grade 10 Plan (2009) and Grade 11 ACT (2011) 
- COLLEGE ELIGIBILITY: % of graduates eligible for a selective four-year college 
- GRADUATION RATE: % of students who have graduated within five years 
- COLLEGE ENROLLMENT RATE: % of students enrolled in college 
- COLLEGE ENROLLMENT (NUMBER OF STUDENTS): Total school enrollment 
- FRESHMAN ON TRACK RATE: Freshmen On-Track rate 
- RCDTS: Region County District Type Schools Code

### Chicago Crime Data
- This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. Data is extracted from the Chicago Police Department's CLEAR (Citizen Law Enforcement Analysis and Reporting) system. In order to protect the privacy of crime victims, addresses are shown at the block level only and specific locations are not identified. Should you have questions about this dataset, you may contact the Research & Development Division of the Chicago Police Department at PSITAdministration@ChicagoPolice.org. Disclaimer: These crimes may be based upon preliminary information supplied to the Police Department by the reporting parties that have not been verified. The preliminary crime classifications may be changed at a later date based upon additional investigation and there is always the possibility of mechanical or human error. Therefore, the Chicago Police Department does not guarantee (either expressed or implied) the accuracy, completeness, timeliness, or correct sequencing of the information and the information should not be used for comparison purposes over time. The Chicago Police Department will not be responsible for any error or omission, or for the use of, or the results obtained from the use of this information. All data visualizations on maps should be considered approximate and attempts to derive specific addresses are strictly prohibited. The Chicago Police Department is not responsible for the content of any off-site pages that are referenced by or that reference this web page other than an official City of Chicago or Chicago Police Department web page. The user specifically acknowledges that the Chicago Police Department is not responsible for any defamatory, offensive, misleading, or illegal conduct of other users, links, or third parties and that the risk of injury from the foregoing rests entirely with the user. The unauthorized use of the words "Chicago Police Department," "Chicago Police," or any colorable imitation of these words or the unauthorized use of the Chicago Police Department logo is unlawful. This web page does not, in any way, authorize such use. Data are updated daily

#### Let's Run SQL in Python

In [23]:
import pandas as pd
import sqlalchemy
import sqlite3

In [3]:
#you must first create a Connection object that represents the database
cnn = sqlite3.connect('jupyter_sql_chicago.db')

In [24]:
#Using Pandas to read our files
crime = pd.read_csv('ChicagoCrimeData.csv')
census = pd.read_csv('ChicagoCensusData.csv')
school = pd.read_csv('ChicagoPublicSchools.csv')

In [25]:
#you should store tables in a DataFrame to a SQL database
crime.to_sql('ChicagoCrimeData', cnn)
census.to_sql('ChicagoCensusData', cnn)
school.to_sql('ChicagoPublicSchools', cnn)

ValueError: Table 'ChicagoCrimeData' already exists.

In [26]:
#you should load ipython-sql library using the % 
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [27]:
#pass connection string in SQLAlchemy to connect to the database
%sql sqlite:///jupyter_sql_chicago.db

### We are going to slove 10 problems ;

- Problem 1: Find the total number of crimes recorded in the CRIME table.

In [15]:
# Rows in Crime table
%sql select count(*) as total_crimes from ChicagoCrimeData

 * sqlite:///jupyter_sql_chicago.db
Done.

[(533,)]

- Problem 2: List community areas with per capita income less than 11000.

In [19]:
#USE WHERE Condition to filter the resut
%sql SELECT * FROM ChicagoCensusData WHERE PER_CAPITA_INCOME < 11000 ;

 * sqlite:///jupyter_sql_chicago.db
Done.

[(25, 26.0, 'West Garfield Park', 9.4, 41.7, 25.8, 24.5, 43.6, 10934, 92.0),
 (29, 30.0, 'South Lawndale', 15.2, 30.7, 15.8, 54.8, 33.8, 10402, 96.0),
 (36, 37.0, 'Fuller Park', 3.2, 51.2, 33.9, 26.6, 44.9, 10432, 97.0),
 (53, 54.0, 'Riverdale', 5.8, 56.5, 34.6, 27.5, 51.5, 8201, 98.0)]

- Problem 3: List all case numbers for crimes with PERCENT_AGED_16__UNEMPLOYED

In [72]:
%%sql
SELECT CASE_NUMBER, PERCENT_AGED_16__UNEMPLOYED
FROM ChicagoCrimeData, ChicagoCensusData

 * sqlite:///jupyter_sql_chicago.db
Done.

[('HK587712', 8.7),
 ('HK587712', 8.8),
 ('HK587712', 8.9),
 ('HK587712', 8.2),
 ('HK587712', 5.2),
 ('HK587712', 4.7),
 ('HK587712', 5.1),
 ('HK587712', 7.0),
 ('HK587712', 6.5),
 ('HK587712', 9.0)]

- Problem 4: List all kidnapping crimes

In [21]:
%%sql
SELECT CASE_NUMBER, PRIMARY_TYPE 
FROM ChicagoCrimeData, ChicagoCensusData
WHERE PRIMARY_TYPE = 'KIDNAPPING'

 * sqlite:///jupyter_sql_chicago.db
Done.

[('HN144152', 'KIDNAPPING'),
 ('HN144152', 'KIDNAPPING'),
 ('HN144152', 'KIDNAPPING'),
 ('HN144152', 'KIDNAPPING'),
 ('HN144152', 'KIDNAPPING'),
 ('HN144152', 'KIDNAPPING'),
 ('HN144152', 'KIDNAPPING'),
 ('HN144152', 'KIDNAPPING'),
 ('HN144152', 'KIDNAPPING'),
 ('HN144152', 'KIDNAPPING')]

- Problem 5: What kind of crimes were recorded at schools

In [22]:
%%sql
SELECT primary_type , NAME_OF_SCHOOL  
FROM ChicagoCrimeData , ChicagoPublicSchools

 * sqlite:///jupyter_sql_chicago.db
Done.

[('THEFT', 'Abraham Lincoln Elementary School'),
 ('THEFT', 'Adam Clayton Powell Paideia Community Academy Elementary School'),
 ('THEFT', 'Adlai E Stevenson Elementary School'),
 ('THEFT', 'Agustin Lara Elementary Academy'),
 ('THEFT', 'Air Force Academy High School'),
 ('THEFT', 'Albany Park Multicultural Academy'),
 ('THEFT', 'Albert G Lane Technical High School'),
 ('THEFT', 'Albert R Sabin Elementary Magnet School'),
 ('THEFT', 'Alcott High School for the Humanities'),
 ('THEFT', 'Alessandro Volta Elementary School')]

- Problem 6: List the average safety score for all schools.

In [23]:
%%sql 
SELECT AVG(SAFETY_SCORE) as "average_school_safety_score"  
FROM ChicagoPublicSchools

 * sqlite:///jupyter_sql_chicago.db
Done.

[(49.50487329434698,)]

- Problem 7: List 5 community areas with highest % of households below poverty line.

In [24]:
%%sql 
SELECT COMMUNITY_AREA_NUMBER , PERCENT_HOUSEHOLDS_BELOW_POVERTY
FROM ChicagoCensusData
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5

 * sqlite:///jupyter_sql_chicago.db
Done.

[(54.0, 56.5), (37.0, 51.2), (68.0, 46.6), (29.0, 43.1), (27.0, 42.4)]

Problem 8: Which community area(number) is most dangerous ?

In [45]:
%%sql 
SELECT COMMUNITY_AREA_NUMBER , MIN(SAFETY_SCORE) as Not_Safe
FROM ChicagoPublicSchools

 * sqlite:///jupyter_sql_chicago.db
Done.

[(40, 1.0)]

- Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [41]:
%%sql 
SELECT COMMUNITY_AREA_NAME FROM ChicagoCensusData
WHERE HARDSHIP_INDEX IN
(SELECT MAX(HARDSHIP_INDEX) FROM ChicagoCensusData)

 * sqlite:///jupyter_sql_chicago.db
Done.

[('Riverdale',)]

Problem 10: In the CENUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [7]:
%sql SELECT COMMUNITY_AREA_NAME FROM ChicagoCensusData WHERE COMMUNITY_AREA_NAME LIKE 'B%'

 * sqlite:///jupyter_sql_chicago.db
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

In [38]:
%sql SELECT COMMUNITY_AREA_NUMBER FROM ChicagoCensusData

 * sqlite:///jupyter_sql_chicago.db
Done.

[(1.0,),
 (2.0,),
 (3.0,),
 (4.0,),
 (5.0,),
 (6.0,),
 (7.0,),
 (8.0,),
 (9.0,),
 (10.0,),
 (11.0,),
 (12.0,),
 (13.0,),
 (14.0,),
 (15.0,),
 (16.0,),
 (17.0,),
 (18.0,),
 (19.0,),
 (20.0,),
 (21.0,),
 (22.0,),
 (23.0,),
 (24.0,),
 (25.0,),
 (26.0,),
 (27.0,),
 (28.0,),
 (29.0,),
 (30.0,),
 (31.0,),
 (32.0,),
 (33.0,),
 (34.0,),
 (35.0,),
 (36.0,),
 (37.0,),
 (38.0,),
 (39.0,),
 (40.0,),
 (41.0,),
 (42.0,),
 (43.0,),
 (44.0,),
 (45.0,),
 (46.0,),
 (47.0,),
 (48.0,),
 (49.0,),
 (50.0,),
 (51.0,),
 (52.0,),
 (53.0,),
 (54.0,),
 (55.0,),
 (56.0,),
 (57.0,),
 (58.0,),
 (59.0,),
 (60.0,),
 (61.0,),
 (62.0,),
 (63.0,),
 (64.0,),
 (65.0,),
 (66.0,),
 (67.0,),
 (68.0,),
 (69.0,),
 (70.0,),
 (71.0,),
 (72.0,),
 (73.0,),
 (74.0,),
 (75.0,),
 (76.0,),
 (77.0,),
 (None,)]